{% extends 'base.html' %}

{% block content %}
<style>
    #todo-card:hover{
background-color: rgb(230, 246, 255);
}
</style>
<h2 class="text-white text-center mt-4">Latest To-Dos</h2>
<div class="row">
    <div class="col">
        <!-- If user is logged in, they have the option to add a new to-do -->
        {% if user.is_authenticated %}
        <a href="{% url 'todo_new' %}" class="btn btn-primary mb-2">Add new To-Do</a></li>
        {% endif %}
    </div>
</div>
<div class="row">
    {% for todo in todo_list reversed  %}
    <!-- Shows all to-dos with the most recent first -->
    {% if user.is_authenticated and user == todo.member %}
    <!-- If the user is logged in and they are the person who created the to-do, they will see the to-dos. If not, nothing will show -->
    <div class="col-12 p-2">
        <div class="card p-3 todo-entry border-primary" id='todo-card'>
            {% if todo.completed == True %}
            <!-- If the to-do has been marked as completed, show the text in a green banner -->
            <div class="card bg-success todo-entry border-primary">
                <p class='text-white text-center p-1'>This To-Do has been completed!</p>
            </div>
            {% endif %}
            <h4><a class="text-dark"
                    href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></h4>
            <a class="h6 text-muted"
                href="{% url 'category_detail' todo.category.pk %}">{{ todo.category.name }}</a>
            <p>{{ todo.description}} <a href="{% url 'todo_detail' todo.pk %}"></a></p>
            <small>{{ todo.created }}</small>
            <small><a href="{% url 'todo_edit' todo.pk %}">Edit</a> | <a
                    href="{% url 'todo_delete' todo.pk %}">Delete</a></small>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links text-white">
            {% if page_obj.has_previous %}
                <a href="/todos?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="/todos?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    {% endif %} 
</div>


{% endblock content %}