{% extends "shopBase.html" %}
{% load static %}
{% block title %}
Thanks - TUD- Tallaght Merch Store
{% endblock %}
{% block content %}
<div>
    <div class="text-center">
        <br>
        <br>
        <h1 class="text-center my_title">
            Thank you for placing your order <i class="far fa-smile"></i>
        </h1>
        <br>
        <br>
        <p>Your order number is: <b>{{ customer_order.id }}</b></p>
        <br>
        <p>
            Sit back and relax! We have received your order and will begin processing it straight
            away. 
            An email confirmation containing the details of the items you purchased has been sent to
            you.
        </p>
    </div>
</div>
<br>
<br>
{% include 'footer.html' %}
{% endblock %}