nav{
    background-color:rgb(4, 76, 115);
}

nav img {
    width: 7%;
}

#nav-title {
    display: none;
  }

  @media only screen and (max-width: 665px) {
    #nav-title {
      display: block;
    }
  }

  @media only screen and (max-width: 991px) {
    #logo img {
      display: none;
    }
  }

  @media only screen and (max-width: 837px) {
    #user-dd {
      display: none;
    }
  }

  @media only screen and (min-width: 838px) {
    #user-dd-nav {
      display: none;
    }
  }

  @media only screen and (max-width: 917px) {
    .reg-btn {
      display: none;
    }
  }

  @media only screen and (min-width: 918px) {
    .reg-btn-nav {
      display: none;
    }
  }


.back_icon {
  text-decoration: none;
  color: rgb(4, 76, 115) !important;
  font-size: 5em;
}