{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopBase</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">

    <style>
        * {
            font-family: 'Cabin', sans-serif;
        }
    </style>
</head>

<body>

    <nav class="nav nav-pills nav-justified h5 p-4">
        {% for c in countcat %}
        {% if c.name != "Men's" %}
        {% if c.name != "Ladies" %}
        <a class="nav-item nav-link" href="{{ c.get_absolute_url }}">{{c.name}}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% for c in countcat %}
        {% if c.name == "Men's" %}
        <a class="nav-item nav-link disabled" href="{{ c.get_absolute_url }}">{{c.name}}</a>
        {% endif %}
        {% if c.name == "Ladies" %}
        <a class="nav-item nav-link disabled" href="{{ c.get_absolute_url }}">{{c.name}}</a>
        {% endif %}
        {% endfor %}
        <a class="nav-item nav-link h4" href="{% url 'cart:cart_detail' %}"><i
                class="fas fa-shopping-cart"></i>({{item_count}}) {{user.username}}</a>
    </nav>
</body>

</html>

{%block content%}
{%endblock%}