<div class="my_custom_menu">
	<ul>
		{% if user.is_authenticated %}
		<li>
			Welcome, <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">{{ user.username }}
				<i class="fas fa-user-circle"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" href="{% url 'order:order_history' %}">Order History</a>
			</div>
		</li>
		<li>
			<a href="{% url 'logout' %}">Sign Out <i class="fas fa-sign-out-alt"></i></a>
		</li>
		{% else %}
		<li>
			<a href="{% url 'signup' %}">Sign Up <i class="fas fa-user-plus"></i></a>
		</li>
		<li>
			<a href="{% url 'login' %}">Sign In <i class="fas fa-sign-in-alt"></i></a>
		</li>
		{% endif %}
		<li>
			<a href="{% url 'cart:cart_detail' %}"><i class="fas fa-shopping-cart"></i>({{item_count}})</a>
		</li>
	</ul>

</div>