{% extends 'base.html' %}
{% block title %}{{ category.name }}{% endblock title %}
{% block content %}
<style>
    #todo-card:hover{
background-color: rgb(184, 184, 184);
}
</style>
<div class="text-center">
    <h1 class="text-center text-white mt-3">{{ category }} To-Dos</h1>
    <small class="text-white text-muted">{{ category.get_date_created }}</small>
</div>
{% if user.is_authenticated %} 
<!-- If user is logged in, they have an option to add a new to-do -->
<a href="{% url 'todo_new' %}" class=" mb-1 btn btn-primary">Add new {{ category }} to-do</a>
{% endif %}
{% for todo in category.todos.all %}
<!-- for all to-dos within each category -->
<div class="card border-primary p-1 mt-4 " id='todo-card'>
    {% if todo.completed == True %}
    <!-- If the to-do has been marked as completed, show the text in a green banner -->
            <div class="card bg-success todo-entry border-primary">
                <p class='text-white text-center p-1'>This To-Do has been completed!</p>
            </div>
    {% endif %}
    <div class="row p-2">
        <div class="col">
            <a class="h4 font-weight-bold text-dark "
                href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a>
        </div>
        <div class="col">
            <p>{{ todo.description }}</p>
            <a href="{% url 'todo_detail' todo.pk %}">Read
                more</a></small>
        </div>
        <small>{{ todo.created }}</small>

    </div>
</div>
{% endfor %}
<!-- Gives option to browse all to-dos from all categories -->
<div class="card text-center mt-4 font-weight-bold bg-dark">
    <a class="mb-1 btn btn-primary" href="{% url 'todo_list' %}">Browse all To-Dos</a>
</div>
{% endblock content %}