{% extends 'base.html' %}

{% block content %}
<div class="card mt-2">
  <div class="discussion-entry p-3">
    <h4>{{ discussion.title }} - <a class="h5"
        href="{% url 'topics_detail' discussion.topic.pk %}">{{ discussion.topic.name }}</a>
    </h4>
    <h6>{{ discussion.body }}</h6>
    <p><a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> | <a
        href="{% url 'discussion_delete' discussion.pk %}">Delete</a></p>
  </div>


  <div class="card-footer">
    <h6>Comments</h6>
    {% for comment in discussion.comments.all %}

    <p>
      <span class="font-weight-bold">{{ comment.member}} &middot;</span>
      {{ comment }}
    </p>
    {% endfor %}
    <a href="{% url 'discussion_comment' discussion.pk%}">Add Comment</a>
    <p>Back to <a href="{% url 'topic' %}">Topics</a>.</p>
  </div>

</div>
{% endblock content %}