{% extends 'base.html' %}

{% block content %}
<h2 class="text-white text-center mt-4">Latest Discussions</h2>
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <a href="{% url 'discussion_new' %}" class="btn btn-primary mb-2">Add new discussion</a></li>
        {% else %}
        <a class="text-white font-weight-bold" href="{% url 'login' %}">Log In to create a discussion!</a>
        {% endif %}
    </div>
    <form class="col-2 md-form active-cyan active-cyan-2 w-40" action="{% url 'discussion_search_results' %}"
        method="get">
        <input name="r" class="form-control" type="text" placeholder="Search discussions" aria-label="Search">
    </form>
</div>


<div class="row">
    {% for discussion in all_discussions_list reversed  %}
    <div class="col-12 pt-3">
        <div class=" card p-3 discussion-entry border-primary">
            <h4><a class="text-dark"
                    href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title|slice:"50" }}</a></h4>
            <a class="h6 text-muted"
                href="{% url 'topics_detail' discussion.topic.pk %}">{{ discussion.topic.name }}</a>
            <p>{{ discussion.body|slice:"115" }}.... <a href="{% url 'discussion_detail' discussion.pk %}">Read
                    more</a></p>
            <small>{{ discussion.get_date_created }} by {{ discussion.member }}</small>
            {% if user.is_authenticated and user == discussion.member %}
            <small><a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> | <a
                    href="{% url 'discussion_delete' discussion.pk %}">Delete</a></small>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}