{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for discussion in all_discussions_list %}
    <div class="col-12 pt-3">
        <div class=" card p-3 discussion-entry">
            <h5><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title }}</a></h5>
            <h6>{{ discussion.topic }}</h6>
            <small>{{ discussion.body }}</small>
            <a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> |
            <a href="{% url 'discussion_delete' discussion.pk %}">Delete</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}