{% extends 'base.html' %}

{% block content %}
<div class="card mt-4">
  <div class="discussion-entry p-3">
    <h4>{{ discussion.title }} - <a class="h5"
        href="{% url 'topics_detail' discussion.topic.pk %}">{{ discussion.topic.name }}</a>
    </h4>
    <small>{{ discussion.get_date_created }}</small>
    <div class="card mb-3 pt-3">
      <h6>{{ discussion.body }}</h6> 
    </div>
    {% if discussion.image %}
    <div class="card mb-3 pt-3">
        <img class='imgupload' src="{{ discussion.image.url}}" alt='img_upload' style="max-height:300px">
    </div>
    {% endif %} 
    {% if user.is_authenticated and user == discussion.member %}
    <p><a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> | <a
        href="{% url 'discussion_delete' discussion.pk %}">Delete</a></p>
    {% endif %}
  </div>


  <div class="card-footer border-dark">
    <h6>Comments</h6>
    {% for comment in discussion.comments.all %}

    <p>
      <span class="font-weight-bold">{{ comment.member}} &middot;</span>
      {{ comment }}
      {% if comment.image %}
      <div class="card mb-3 pt-3">
            <img class='imgupload' src="{{ comment.image.url}}" alt='img_upload' style="max-height:300px"> 
      </div>
      {% endif %}
    </p>
    {% endfor %}
    <a href="{% url 'discussion_comment' discussion.pk%}">Add Comment</a>
    <p>Back to <a href="{% url 'topic' %}">Topics</a>.</p>
  </div>

</div>
{% endblock content %}