{% extends 'base.html' %}

{% block content %}
<h2 class="text-white text-center mt-4">Latest Discussions</h2>
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <a href="{% url 'discussion_new' %}" class="btn btn-primary mb-2">Add new discussion</a></li>
        {% endif %}
    </div>
    <div class="col-3 md-form active-cyan active-cyan-2 w-40">
        <input class="form-control" type="text" placeholder="Search discussions..." aria-label="Search">
    </div>
</div>


<div class="row">

    {% for discussion in all_discussions_list reversed  %}
    <div class="col-12 pt-3">
        <div class=" card p-3 discussion-entry border-primary">
            <h5><a href="{% url 'discussion_detail' discussion.pk %}">{{ discussion.title|slice:"50" }}...</a>
                <small>-by
                    {{ discussion.member }}</small> </h5>

            <a class="h6 text-muted"
                href="{% url 'topics_detail' discussion.topic.pk %}">{{ discussion.topic.name }}</a>
            <small>{{ discussion.body|slice:"75" }}.... <a href="{% url 'discussion_detail' discussion.pk %}">Read
                    more</a></small>
            <small>{{ discussion.get_date_created }}</small>
            {% if user.is_authenticated and user == discussion.member %}
            <small><a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> | <a
                    href="{% url 'discussion_delete' discussion.pk %}">Delete</a></small>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}