<!--Discussion detail page-->
{% extends 'base.html' %}

{% block content %}
<h1 class="text-white text-center">Discussion</h1>
<div class="card mt-4">
  <div class="discussion-entry p-3">
    <h4>{{ discussion.title }} - <a class="h4"
        href="{% url 'topics_detail' discussion.topic.pk %}">{{ discussion.topic.name }}</a>
    </h4>
    <small>{{ discussion.get_date_created }} by {{ discussion.member }}</small>
    {% if discussion.image %}
    <div class="card my-3 w-50">
      <img class='imgupload' src="{{ discussion.image.url}}" alt='img_upload' style="max-height:350px">
    </div>
    {% endif %}
    <div class=" mb-3 pt-3">
      <h6>{{ discussion.body }}</h6>
    </div>
    {% if user.is_authenticated and user == discussion.member %}
    <!--Only showing option to edit / delete if the user is the author and logged in-->
    <p><a href="{% url 'discussion_edit' discussion.pk %}">Edit</a> | <a
        href="{% url 'discussion_delete' discussion.pk %}">Delete</a></p>
    {% endif %}
  </div>


  <div class="card-footer border-dark">
    <h4>Comments</h4>
    {% for comment in discussion.comments.all %}
    <!--Showing all comments assocaited with the discussion-->

    <p>
      <span class="font-weight-bold">{{ comment.member}} &middot;</span>
      {{ comment }}
      {% if comment.image %}
    <div class="card mb-3 w-25">
      <img class='imgupload' src="{{ comment.image.url}}" alt='img_upload' style="max-height:150px">
    </div>
    {% endif %}
    {% if user.is_authenticated and user == comment.member %}
    <!--Only showing option to edit / delete if the user is the author and logged in-->
    <a href="{% url 'comment_edit' comment.pk %}">Edit &middot;</a>
    <a href="{% url 'comment_delete' comment.pk %}">Delete</a>
    {% endif %}
    </p>
    {% endfor %}
    <a href="{% url 'discussion_comment' discussion.pk%}">Add Comment</a>
    <p>Back to <a href="{% url 'topic' %}">Topics</a>.</p>
  </div>

</div>
{% endblock content %}