{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'topic_new' %}" class="btn btn-primary m-2">Add new topic</a></li>
{% endif %}
<div class="row">
    {% for topic in all_topics_list %}
    <div class="col-12 pt-3">
        <div class=" card p-3 topics-entry">
            <h5><a href="{% url 'discussion_list' topic.pk %}">{{ topic.name }}</a></h5>
            <small>{{ topic.description }}</small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}