{% extends 'base.html' %}
{% block content %}
<h2 class="text-white text-center mt-4">Topics A-Z</h2>
<div class="row">
    <div class="col">
        {% if user.is_authenticated %}
        <a href="{% url 'topic_new' %}" class="btn btn-primary mb-2">Add new topic</a></li>
        {% endif %}
    </div>


    <div class="col-2 md-form active-cyan active-cyan-2 w-40">
        <input class="form-control" type="text" placeholder="Search topics..." aria-label="Search">
    </div>
</div>
<div class="row">
    {% for topic in all_topics_list|dictsort:"name.lower" %}
    <div class="col-6 pt-3 ">
        <div class=" card border-primary topics-entry ">
            <div class="card-header ">
                <h5><a class="" href="{% url 'topics_detail' topic.pk %}">{{ topic.name }}</a></h5>
                <small class="text-muted"> Founder - {{ topic.member }}</small>
                <p>{{ topic.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}