{% extends 'base.html' %}
{% block title %}{{ topic.name }}{% endblock title %}
{% block content %}
<div class="text-center">
    <h3 class="text-center text-white mt-3">{{ topic }}</h3>
    <small class="text-white text-muted">{{ topic.get_date_created }}</small>
</div>
{% if user.is_authenticated %}
<a href="{% url 'discussion_new' %}" class=" mb-4 btn btn-primary btn-sm">Add new {{ topic }} discussion</a>
{% else %}
<a class="text-white font-weight-bold" href="{% url 'login' %}">Log In to create a discussion!</a>
{% endif %}
{% for discussion in topic.discussions.all %}
<div class="card border-primary p-1 mt-4 ">
    <div class="row p-2">
        <div class="col">
            <a class="h6 font-weight-bold " href="{% url 'discussion_detail' discussion.pk %}">{{ discussion }}</a>
            <p>{{ discussion.member }} {{ discussion.get_date_created }}</p>
        </div>
        <div class="col">
            <p>{{ discussion.body|slice:"60" }}.....</p>
            <a href="{% url 'discussion_detail' discussion.pk %}">Read
                more</a></small>
        </div>

    </div>
</div>
{% endfor %}
{% endblock content %}