<!--Home page has a list of topics organised in alphabetical order
    Clicking on the title of the topic will bring you to the topics_detail page
    which shows all related discussions associated with that topic-->
{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<div id="jt" class="jumbotron mt-4">
    <h1 class="display-3">Welcome to the TUD-Tallaght StudentBoard!</h1>
    <p class="lead">Connect with your classmates, create discussions and reply to others!</p>
</div>
<h2 class="text-white text-center mt-5">Topics A-Z</h2>
<div class="row ml-5">
    <div class="col">
        <!--Only shows the 'create new topic' button if the user is logged in-->
        {% if user.is_authenticated %}
        <a href="{% url 'topic_new' %}" class="btn btn-primary mb-2">Add new topic</a></li>
        {% else %}
        <a class="text-white font-weight-bold" href="{% url 'login' %}">Log In to create a topic!</a>
        {% endif %}
    </div>


    <form class="col-5 md-form active-cyan active-cyan-2 mr-5 " action="{% url 'topic_search_results' %}" method="get">
        <input name="q" class="form-control" type="text" placeholder="Search topics..." aria-label="Search">
    </form>
</div>
<div class="row justify-content-center">

    <!--Shows all topics in alphabetical order-->
    <div class="col-11 text-center ">
        {% for topic in all_topics_list|dictsort:"name.lower" %}
        <div id="topic-card" class=" card border-primary topics-entry ">
            <div class="card-header ">
                <h3><a href="{% url 'topics_detail' topic.slug %}" class=" text-dark stretched-link">{{ topic.name }}</a>
                </h3>
            </div>
            <div class="card-body " style="z-index: 1;">
                <p class="text-muted"> Founder - {{ topic.member }}</p>
                <h6 class="text-muted">{{ topic.description }}</h6>
                <p class="text-muted">{{ topic.get_date_created }}</p>
                {% if user.is_authenticated and user == topic.member %}
                <!--Only shows the option to edit / delete if the user is logged in & the author of the topic
                    Deleting a topic will delete all discussions associated with said topic-->
                <a class="small" href="{% url 'topic_delete' topic.slug %}">Delete</a>
            </div>
            {% endif %}

        </div>
        {% endfor %}
    </div>
</div>
<div class="row ml-4" style="z-index: 1;">
    {% if is_paginated %}
    <div class="pagination">
        <span class="page-links text-dark font-weight-bold">
            {% if page_obj.has_previous %}
            <a href="/?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="/?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}

{% endblock content %}